<h1>Welcome to Eggs!</h1>
<p>Share with Friends, Not Strangers</p>
<div class="center-content">
    <%= image_tag 'logos/eggs.jpeg', alt: 'Eggs Logo', class: 'logo-image' %>
</div>
<div class="center-content">
    <%= link_to 'Sign Up', new_user_registration_path %> |
    <%= link_to 'Login', new_user_session_path %>
</div>

